@charset "UTF-8";
/* Скидання стилів */
@import url("reset.css");
@import url("variables.css");
/* Основні стилі */
body {
  background-color: var(--bg-color);
  color: var(--main-text-color);
  font-size: 0.875rem;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: clip; /* clip */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.button-telegram {
  border-radius: 6.25rem;
  background-color: var(--blue-color);
  padding: 0.875rem 1.5625rem 0.75rem 1.5625rem;
  color: var(--bg-white-color);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.55; /* 155.556% */
  text-transform: uppercase;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (min-width: 48em) {
  .button-telegram {
    font-size: 1.125rem;
  }
}
@media (min-width: 23.4375em) {
  .button-telegram {
    padding: 0.875rem 2rem 0.75rem 2rem;
  }
}
.button-telegram::after {
  content: "";
  top: 0;
  right: -15%;
  padding: 0.6875rem;
  block-size: 3.375rem;
  inline-size: 3.375rem;
  position: absolute;
  border-radius: 50%;
  border: 0.125rem dashed var(--bg-color);
  background: var(--blue-color);
  background-image: url(../img/telegram-white.svg);
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
@media (any-hover: hover) {
  .button-telegram:hover {
    background-color: var(--main-text-color);
    color: var(--bg-white-color);
  }
  .button-telegram:hover::after {
    background-color: var(--main-text-color);
  }
}
.button-telegram--white {
  background-color: var(--bg-white-color);
  color: var(--blue-color);
}
.button-telegram--white::after {
  border: 0.125rem dashed var(--blue-color);
  background: var(--bg-white-color);
  background-image: url(../img/telegram-blue.svg);
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .button-telegram--white:hover::after {
    border: 0.125rem dashed var(--bg-white-color);
    background-image: url(../img/telegram-white.svg);
  }
}

.title-section {
  color: var(--blue-color);
  font-family: Inter;
  font-weight: 700;
  line-height: 1.3; /* 57.2px */
  text-transform: uppercase;
}
@media (min-width: 79.375em) {
  .title-section {
    font-size: 2.75rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .title-section {
    font-size: clamp( 1.9375rem , 1.6638157895rem  +  1.3684210526vw , 2.75rem );
  }
}
@media (max-width: 20em) {
  .title-section {
    font-size: 1.9375rem;
  }
}

.items-slider__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
  max-width: 64.1875rem;
}
@media (min-width: 79.375em) {
  .items-slider__header {
    margin-bottom: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .items-slider__header {
    margin-bottom: clamp( 2.375rem , 1.9118421053rem  +  2.3157894737vw , 3.75rem );
  }
}
@media (max-width: 20em) {
  .items-slider__header {
    margin-bottom: 2.375rem;
  }
}
.items-slider__header p {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5; /* 30px */
  text-transform: uppercase;
}
@media (max-width: 48em) and (min-width: 79.375em) {
  .items-slider__header p {
    font-size: 1.25rem;
  }
}
@media (max-width: 48em) and (min-width: 20em) and (max-width: 79.375em) {
  .items-slider__header p {
    font-size: clamp( 1.125rem , 1.0828947368rem  +  0.2105263158vw , 1.25rem );
  }
}
@media (max-width: 48em) and (max-width: 20em) {
  .items-slider__header p {
    font-size: 1.125rem;
  }
}
.items-slider__list {
  overflow: visible;
  margin-bottom: 1.5rem;
}
.items-slider__swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
.items-slider__item {
  padding: 2rem;
}

.item-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
  border-radius: 0.625rem;
  background: var(--bg-white-color);
  font-size: 0.8125rem;
  line-height: 1.38; /* 138.462% */
  min-height: 52rem;
}
.item-slider__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}
.item-slider__header img {
  border-radius: 50%;
}
.item-slider__header p {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.1; /* 35.2px */
  text-transform: uppercase;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
}
.item-slider__header p::after {
  content: "";
  inline-size: 1.5rem;
  block-size: 1.5rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: url(../img/linkedin.svg) 0 0/100% no-repeat;
}
.item-slider__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.9375rem;
}

.slider-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 2rem;
}
.slider-controls__arrow {
  padding: 0.875rem;
  background-color: var(--bg-white-color);
  border-radius: 50%;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (any-hover: hover) {
  .slider-controls__arrow:hover {
    background-color: var(--blue-color);
  }
}
.slider-controls__arrow--right {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slider-controls__arrow--left.disabled,
.slider-controls__arrow--right.disabled {
  background-color: gray; /* Колір для неактивної кнопки */
  pointer-events: none; /* Блокуємо взаємодію з кнопкою */
  opacity: 0.5; /* Зменшуємо прозорість для візуального ефекту */
}

.header {
  position: sticky;
  inline-size: 100%;
  inset-inline-start: 0;
  inset-block-start: 0;
  z-index: 50;
  padding-top: 1.5rem;
  -webkit-backdrop-filter: blur(0.5rem);
          backdrop-filter: blur(0.5rem);
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.625rem;
  background-color: var(--bg-white-color);
  padding: 1.25rem 1.5rem;
}
.header__logo {
  position: relative;
  z-index: 5;
  inline-size: 6.3125rem;
  block-size: 2.5rem;
}
.header__block {
  padding-inline: 1.5rem;
}
@media (max-width: 767.99px) {
  .header__block {
    padding-inline: 2rem;
  }
}
@media (max-width: 374.99px) {
  .header__block {
    padding-inline: 1rem;
  }
}

.menu__body {
  position: relative;
}
@media (max-width: 770px) {
  .menu__body {
    position: fixed;
    inset-inline-start: 100%;
    inset-block-start: 0;
    inline-size: 100%;
    block-size: 100vh;
    z-index: 3;
    -webkit-transition: inset-inline-start 0.3s;
    transition: inset-inline-start 0.3s;
    overflow: auto;
    padding: 150px 15px 30px;
    background-color: white;
    font-size: 1.125rem;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    block-size: 84px;
    inline-size: 100%;
    inset-inline-start: 100%;
    inset-block-start: 0;
    z-index: 3;
    background-color: rgb(255, 255, 255);
    -webkit-transition: inset-inline-start 0.3s;
    transition: inset-inline-start 0.3s;
  }
}
.menu__list {
  -webkit-column-gap: 1.5rem;
     -moz-column-gap: 1.5rem;
          column-gap: 1.5rem;
  row-gap: 0.1875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 700px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
.menu__link {
  position: relative;
  padding: 0.5rem 0.75rem;
  line-height: 1.71; /* 171.429% */
  text-transform: uppercase;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: var(--blue-color);
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 770px) {
  .icon-menu {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: 24px;
        flex-basis: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 5;
  }
}
@media (max-width: 770px) {
  .icon-menu span {
    margin-block: 6px;
  }
}

@media (max-width: 770px) {
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    height: 2px;
    width: 100%;
    background-color: #000;
  }
  .open-menu .menu__body, .open-menu .menu__body::before {
    inset-inline-start: 0;
  }
  .open-menu .icon-menu span {
    width: 0;
    height: 0;
    margin: 0;
  }
  .open-menu .icon-menu:before {
    -webkit-transform: rotate(45deg) translateY(1.5px);
        -ms-transform: rotate(45deg) translateY(1.5px);
            transform: rotate(45deg) translateY(1.5px);
  }
  .open-menu .icon-menu:after {
    -webkit-transform: rotate(-45deg) translateY(-1.5px);
        -ms-transform: rotate(-45deg) translateY(-1.5px);
            transform: rotate(-45deg) translateY(-1.5px);
  }
  .open-menu body {
    overflow: hidden;
  }
}
.footer {
  padding-bottom: 1.5rem;
}
.footer__container {
  border-radius: 0.625rem;
  background-color: var(--bg-white-color);
  padding: 1.5rem 2.5rem;
  font-weight: 600;
  line-height: 1.28; /* 128.571% */
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (max-width: 900px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (any-hover: hover) {
  .footer__link:hover {
    color: var(--blue-color);
  }
}
.footer__block {
  padding-inline: 1.5rem;
}
@media (max-width: 767.99px) {
  .footer__block {
    padding-inline: 2rem;
  }
}
@media (max-width: 374.99px) {
  .footer__block {
    padding-inline: 1rem;
  }
}

/* --------------------- */
[class*=__container] {
  max-width: 80.5rem;
  padding-inline: 1rem;
  margin: 0 auto;
}
@media (min-width: 48.0625em) {
  [class*=__container] {
    padding-inline: 2rem;
  }
}
@media (min-width: 64em) {
  [class*=__container] {
    padding-inline: 1.5rem;
  }
}

/* --------------------- */
.home-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 79.375em) {
  .home-page {
    gap: 6.875rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .home-page {
    gap: clamp( 3.5625rem , 2.4467105263rem  +  5.5789473684vw , 6.875rem );
  }
}
@media (max-width: 20em) {
  .home-page {
    gap: 3.5625rem;
  }
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4.5rem;
}
@media (min-width: 79.375em) {
  .hero__container {
    -webkit-padding-before: 4.5rem;
            padding-block-start: 4.5rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .hero__container {
    -webkit-padding-before: clamp( 1.875rem , 0.9907894737rem  +  4.4210526316vw , 4.5rem );
            padding-block-start: clamp( 1.875rem , 0.9907894737rem  +  4.4210526316vw , 4.5rem );
  }
}
@media (max-width: 20em) {
  .hero__container {
    -webkit-padding-before: 1.875rem;
            padding-block-start: 1.875rem;
  }
}
@media (max-width: 60.249375em) {
  .hero__container {
    gap: 2.5rem;
  }
}
.hero__title {
  color: var(--blue-color);
  text-align: center;
  font-size: 4.25rem;
  font-weight: 700;
  line-height: 1.1; /* 74.8px */
  text-transform: uppercase;
}
@media (min-width: 79.375em) {
  .hero__title {
    font-size: 4.25rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .hero__title {
    font-size: clamp( 2.875rem , 2.4118421053rem  +  2.3157894737vw , 4.25rem );
  }
}
@media (max-width: 20em) {
  .hero__title {
    font-size: 2.875rem;
  }
}
.hero__title span {
  background: -webkit-gradient(linear, left top, right top, from(#8636F8), color-stop(#F020B3), color-stop(#F8475E), to(#FF9421));
  background: linear-gradient(to right, #8636F8, #F020B3, #F8475E, #FF9421);
  -webkit-background-clip: text;
  color: transparent;
}
.hero__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 60.249375em) {
  .hero__text {
    gap: 1rem;
  }
}
.hero__text p {
  text-align: center;
  font-size: 1rem;
  line-height: 1.25; /* 125% */
  max-width: 38.875rem;
}
.hero__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
@media (max-width: 60.249375em) {
  .hero__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 47.9375em) {
  .hero__cards {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}
.cards-hero__item {
  border-radius: 0.625rem;
  background: var(--bg-white-color);
  padding: 2rem;
  position: relative;
}
.cards-hero__item img {
  position: absolute;
  right: 0;
}
.cards-hero__item h5 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.1; /* 26.4px */
  text-transform: uppercase;
}
.cards-hero__item:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
  background-color: var(--blue-color);
  color: var(--bg-white-color);
  padding: 2.9375rem 1.6875rem 2.5625rem 2rem;
}
.cards-hero__item:first-child p {
  line-height: 1.28;
}
.cards-hero__item:nth-child(2) {
  padding-top: 2.875rem;
}
.cards-hero__item:nth-child(2) p {
  font-weight: 700;
  font-size: 6.0625rem;
  background: -webkit-gradient(linear, left top, right top, from(#8636F8), color-stop(#F020B3), color-stop(#F8475E), to(#FF9421));
  background: linear-gradient(to right, #8636F8, #F020B3, #F8475E, #FF9421);
  -webkit-background-clip: text;
  color: transparent;
}
.cards-hero__item:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.625rem;
}
@media (max-width: 60.249375em) {
  .cards-hero__item:last-child {
    grid-column: span 2;
  }
}
@media (max-width: 47.9375em) {
  .cards-hero__item:last-child {
    grid-column: span 1;
  }
}
.cards-hero__item:last-child p {
  line-height: 1.28; /* 128.571% */
}
.cards-hero__item:last-child h5 {
  font-weight: 700;
  background: -webkit-gradient(linear, left top, right top, from(#8636F8), color-stop(#F020B3), color-stop(#F8475E), to(#FF9421));
  background: linear-gradient(to right, #8636F8, #F020B3, #F8475E, #FF9421);
  -webkit-background-clip: text;
  color: transparent;
}
.cards-hero__img-num {
  left: 10%;
  bottom: 0;
}
.cards-hero__img-student {
  top: 2%;
}

.text-block {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5; /* 30px */
  text-transform: uppercase;
}
@media (max-width: 48em) and (min-width: 79.375em) {
  .text-block {
    font-size: 1.25rem;
  }
}
@media (max-width: 48em) and (min-width: 20em) and (max-width: 79.375em) {
  .text-block {
    font-size: clamp( 1.125rem , 1.0828947368rem  +  0.2105263158vw , 1.25rem );
  }
}
@media (max-width: 48em) and (max-width: 20em) {
  .text-block {
    font-size: 1.125rem;
  }
}

.about__title {
  margin-bottom: 2.5rem;
}

.cards-about {
  display: grid;
  grid-template-columns: calc(39.7% - 16px) calc(6.3% - 3px) calc(22% - 16px) calc(32% - 8px);
  gap: 1rem;
}
@media (min-width: 79.375em) {
  .cards-about {
    margin-bottom: 4.5rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .cards-about {
    margin-bottom: clamp( 2.375rem , 1.6592105263rem  +  3.5789473684vw , 4.5rem );
  }
}
@media (max-width: 20em) {
  .cards-about {
    margin-bottom: 2.375rem;
  }
}
@media (max-width: 64em) {
  .cards-about {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 48.061875em) {
  .cards-about {
    grid-template-columns: 1fr;
  }
}
.cards-about__item {
  background-color: var(--bg-white-color);
  border-radius: 0.625rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.cards-about__item::before {
  content: "";
  position: relative;
  inline-size: 2.375rem;
  block-size: 2.375rem;
  top: 0;
  left: 0;
  background: url(../img/send.svg) 0 0/100% no-repeat;
}
.cards-about__item--blue {
  background-color: var(--blue-color);
}
.cards-about__item--blue::before {
  content: "";
  position: relative;
  inline-size: 2.375rem;
  block-size: 2.375rem;
  top: 0;
  left: 0;
  background: url(../img/send-white.svg) 0 0/100% no-repeat;
}
.cards-about__item--icon::before {
  display: none;
}
.cards-about__item:nth-child(1) {
  padding: 2.3125rem 2rem 2rem;
}
@media (max-width: 64em) {
  .cards-about__item:nth-child(1) {
    grid-column: 2 span;
  }
}
@media (max-width: 48em) {
  .cards-about__item:nth-child(1) {
    grid-column: 1 span;
  }
}
.cards-about__item:nth-child(3) {
  padding: 2.3125rem 1.875rem 2rem 2rem;
}
.cards-about__item:nth-child(4) {
  padding: 2rem 4rem 2rem 2rem;
}
@media (max-width: 48em) {
  .cards-about__item:nth-child(4) {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
}
.cards-about__item:nth-child(5) {
  padding: 1.9375rem 2.25rem 2rem 2rem;
}
@media (max-width: 64em) {
  .cards-about__item:nth-child(5) {
    grid-column: 2 span;
  }
}
@media (max-width: 48em) {
  .cards-about__item:nth-child(5) {
    grid-column: 1 span;
  }
}
.cards-about__item:nth-child(6) {
  padding: 2rem 4.375rem 0rem 2rem;
}
@media (max-width: 34.375em) {
  .cards-about__item:nth-child(6) {
    padding: 2rem 2.5rem 2rem 1.5rem;
  }
}
@media (max-width: 48em) {
  .cards-about__item:nth-child(6) {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
}
.cards-about__item:nth-child(2), .cards-about__item:nth-child(4), .cards-about__item:nth-child(6) {
  grid-column: 2 span;
}
@media (max-width: 48em) {
  .cards-about__item:nth-child(2), .cards-about__item:nth-child(4), .cards-about__item:nth-child(6) {
    grid-column: 1 span;
  }
}
.cards-about__item:nth-child(2) {
  padding: 2.3125rem 2.125rem 2rem 2rem;
}
@media (max-width: 64em) {
  .cards-about__item:nth-child(2) {
    grid-column: 1 span;
  }
}
.cards-about__item:nth-child(5) {
  grid-column: 2 span;
  grid-row: 2 span;
}
@media (max-width: 64em) {
  .cards-about__item:nth-child(5) {
    grid-row: 1 span;
  }
}
@media (max-width: 48em) {
  .cards-about__item:nth-child(5) {
    grid-column: 1 span;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}
.cards-about__title {
  font-size: 1.5rem;
  line-height: 1.1; /* 26.4px */
  text-transform: uppercase;
}
.cards-about__title:nth-child(1) {
  margin-bottom: 1.125rem;
}
.cards-about__title--colourful {
  background: -webkit-gradient(linear, left top, right top, from(#8636F8), color-stop(#F020B3), color-stop(#F8475E), to(#FF9421));
  background: linear-gradient(to right, #8636F8, #F020B3, #F8475E, #FF9421);
  -webkit-background-clip: text;
  color: transparent;
}
.cards-about__title--white {
  color: var(--bg-white-color);
}
.cards-about__title--weight {
  font-weight: 500;
}
.cards-about__title--font-size {
  font-size: 2rem;
}
.cards-about__list {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.cards-about__list--weight {
  font-weight: 500;
}
.cards-about__list--white {
  color: var(--bg-white-color);
}
.cards-about__list li {
  position: relative;
  padding-left: 20px;
  line-height: 1.28; /* 128.571% */
}
.cards-about__list li::before {
  content: "•";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.2em;
}
.cards-about__list--line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}
.cards-about__list--line li::before {
  content: "—";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.2em;
}
.cards-about span {
  background: -webkit-gradient(linear, left top, right top, from(#8636F8), color-stop(#F020B3), color-stop(#F8475E), to(#FF9421));
  background: linear-gradient(to right, #8636F8, #F020B3, #F8475E, #FF9421);
  -webkit-background-clip: text;
  color: transparent;
  line-height: 1.09;
  font-size: 1.375rem;
}
.cards-about__category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}
.cards-about__category p {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 1.875rem;
  padding: 0.5625rem 1.0625rem;
  border: 0.0625rem dashed var(--main-text-color);
  font-weight: 500;
  line-height: 1.21; /* 121.429% */
  text-transform: uppercase;
}
.cards-about__category--white {
  color: var(--bg-white-color);
}
.cards-about__category--white p {
  border: 0.0625rem dashed var(--bg-white-color);
}
.cards-about__text {
  color: var(--bg-white-color);
  font-weight: 700;
  line-height: 1.42; /* 142.857% */
  text-transform: uppercase;
  position: relative;
}
.cards-about__text span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 0.9375rem;
}
.cards-about__text span::before {
  content: "";
  inline-size: 0.625rem;
  block-size: 0.9375rem;
  background: url(../img/hot-icon.svg) 0 0/100% no-repeat;
  margin-right: 0.625rem;
}

.img-block {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  padding: 0rem 0rem 1.75rem 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}
.img-block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
  margin-bottom: 1.875rem;
}
.img-block__item img {
  inline-size: 1.5rem;
  block-size: 1.5rem;
}
.img-block__item p {
  color: var(--blue-color);
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.5; /* 150% */
  text-transform: uppercase;
  -webkit-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.pay-card__text {
  font-size: 1.125rem;
  text-transform: uppercase;
}
.pay-card__text span {
  font-size: 1.125rem;
  background: -webkit-gradient(linear, left top, right top, from(#8636F8), color-stop(#F020B3), color-stop(#F8475E), to(#FF9421));
  background: linear-gradient(to right, #8636F8, #F020B3, #F8475E, #FF9421);
  -webkit-background-clip: text;
  color: transparent;
}

.now-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
}
@media (max-width: 34.375em) {
  .now-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (min-width: 79.375em) {
  .banner {
    margin-bottom: 4.5rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .banner {
    margin-bottom: clamp( 1.875rem , 0.9907894737rem  +  4.4210526316vw , 4.5rem );
  }
}
@media (max-width: 20em) {
  .banner {
    margin-bottom: 1.875rem;
  }
}
.banner__block {
  padding-inline: 1.5rem;
  border-radius: 1rem;
  background-color: var(--blue-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
}
@media (min-width: 79.375em) {
  .banner__block {
    padding-block: 6.125rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .banner__block {
    padding-block: clamp( 1.75rem , 0.2763157895rem  +  7.3684210526vw , 6.125rem );
  }
}
@media (max-width: 20em) {
  .banner__block {
    padding-block: 1.75rem;
  }
}
.banner__title {
  color: var(--bg-white-color);
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.3; /* 57.2px */
  text-transform: uppercase;
}
@media (min-width: 79.375em) {
  .banner__title {
    font-size: 2.75rem;
  }
}
@media (min-width: 20em) and (max-width: 79.375em) {
  .banner__title {
    font-size: clamp( 2rem , 1.7473684211rem  +  1.2631578947vw , 2.75rem );
  }
}
@media (max-width: 20em) {
  .banner__title {
    font-size: 2rem;
  }
}

.cards-about__item:nth-child(1) .cards-about__title {
  margin-bottom: 1.125rem;
}
.cards-about__item:nth-child(2) .cards-about__title {
  margin-bottom: 1.1875rem;
}
.cards-about__item:nth-child(3) .cards-about__title {
  margin-bottom: 1rem;
}
.cards-about__item:nth-child(4) .cards-about__title {
  margin-bottom: 1rem;
}
.cards-about__item:nth-child(5) .cards-about__title {
  margin-bottom: 1rem;
}
.cards-about__item:nth-child(1)::before {
  margin-bottom: 2.0625rem;
}
.cards-about__item:nth-child(2)::before {
  margin-bottom: 1.25rem;
}
.cards-about__item:nth-child(3)::before {
  margin-bottom: 1.0625rem;
}
.cards-about__item:nth-child(2) .cards-about__list {
  margin-bottom: 2.4375rem;
}
.cards-about__item:nth-child(3) .cards-about__list {
  margin-bottom: 2.4375rem;
}
.cards-about__item:nth-child(4) .cards-about__list {
  margin-bottom: 1.5625rem;
}
.cards-about__item:nth-child(1) .cards-about__category {
  margin-bottom: 1.75rem;
}