.button-telegram {
    border-radius: toRem(100);
    background-color: var(--blue-color);
    padding: toRem(14) toRem(32) toRem(12) toRem(32);

    color: var(--bg-white-color);
    font-size: toRem(16);
    font-weight: 600;
    line-height: 1.55; /* 155.556% */
    text-transform: uppercase;
    position: relative;

    transition: all 0.3s;

    @media (min-width: toEm(768)) {
        font-size: toRem(18);
    }

    &::after{
        content: "";
        top: 0;
        right: -15%;
        padding: toRem(11);
        block-size: toRem(54);
        inline-size: toRem(54);
        position: absolute;
        border-radius: 50%;
        border: toRem(2) dashed var(--bg-color);
        background: var(--blue-color);
        background-image: url(../img/telegram-white.svg);
        background-size: toRem(32);
        background-repeat: no-repeat;
        background-position: center;
        transition: background-color 0.3s;
    }
    @media (any-hover: hover) {
        &:hover {
            background-color: var(--main-text-color);
            color: var(--bg-white-color);
            &::after{
                background-color: var(--main-text-color);
            }
        }
    }
    &--white {
        background-color: var(--bg-white-color);

        color: var(--blue-color);

    &::after{
        border: toRem(2) dashed var(--blue-color);
        background: var(--bg-white-color);
        background-image: url(../img/telegram-blue.svg);
        background-size: toRem(32);
        background-repeat: no-repeat;
        background-position: center;
        transition: all 0.3s;

    }
    @media (any-hover: hover) {
        &:hover::after {
            border: toRem(2) dashed var(--bg-white-color);
            background-image: url(../img/telegram-white.svg);
        }
    }
    }
}
//align-self: flex-start;

.title-section {
    color: var(--blue-color);
	font-family: Inter;
	font-size: toRem(44);
	font-weight: 700;
	line-height: 1.3; /* 57.2px */
	text-transform: uppercase;
}

// ==============================================================
.items-slider {

    // .items-slider__header

    &__header {
        display: flex;
        flex-direction: column;
        gap: toRem(20);
        max-width: toRem(1027);
        margin-bottom: toRem(60);;
        p{
            font-size: toRem(20);
            font-weight: 500;
            line-height: 1.5; /* 30px */
            text-transform: uppercase;
        }
    }

    // .items-slider__list

    &__list {
        overflow: visible;
        margin-bottom: toRem(24);
    }

    // .items-slider__swiper-wrapper

    &__swiper-wrapper {
        display: flex;
        gap: toRem(16);
    }

    // .items-slider__item

    &__item {
        // flex-basis: toRem(604);
        padding: toRem(32);
    }
}
.item-slider {
    display: flex;
    flex-direction: column;
    gap: toRem(24);
    border-radius: toRem(10);
    background: var(--bg-white-color);
    

    font-size: toRem(13);
    line-height: 1.38; /* 138.462% */

    &__header {
        display: flex;
        align-items: center;
        gap: toRem(20);
        img {
            border-radius: 50%;
        }
        p{
            font-size: toRem(32);
            font-weight: 600;
            line-height: 1.1; /* 35.2px */
            text-transform: uppercase;

            display: inline-flex;
            align-items: center;
            gap: toRem(12);
            &::after{
                content: "";
                inline-size: toRem(24);
                block-size: toRem(24);
                flex-shrink: 0;
                background: url(../img/linkedin.svg) 0 0 / 100% no-repeat;
            }
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        gap: toRem(15);
    }
}
.swiper-slide {
}
.slider-controls {
    display: flex;
    justify-content: flex-end;
    gap: toRem(32);
    // .slider-controls__arrow

    &__arrow {
        padding: toRem(14);
        background-color: var(--bg-white-color);
        border-radius: 50%;

        transition: background-color 0.3s;

        display: flex;
        justify-content: center;
        align-items: center;
        @media (any-hover: hover) {
            &:hover {
                background-color: var(--blue-color);
            }
        }
    }

    // .slider-controls__arrow--right

    &__arrow--right {
        transform: rotate(180deg);

    }
}

.slider-controls__arrow--left.disabled,
.slider-controls__arrow--right.disabled {
    background-color: gray; /* Колір для неактивної кнопки */
    pointer-events: none; /* Блокуємо взаємодію з кнопкою */
    opacity: 0.5; /* Зменшуємо прозорість для візуального ефекту */
}