@use "sass:math";


@import "_mixins.scss";


/* Скидання стилів */
@import url("reset.css");

// Змінні
@import url("variables.css");

/* Основні стилі */
body {
	background-color: var(--bg-color);
	color: var(--main-text-color);
	// line-height: 1.5;
	font-size: toRem(14);

	// @media (min-width: toEm(768)) and (max-width: toEm(1629.98)) {
	// 	font-size: toRem(16);
	// }
	// @media (min-width: toEm(1630)) {
	// 	font-size: toRem(18);
	// }
	font-family: "Montserrat", sans-serif;

	// opacity: 0;
	// transition: opacity 1.5s;

	// .lock & {
	// 	overflow: hidden;
	// 	touch-action: none;
	// 	overscroll-behavior: none;
	// }
	// .loaded & {
	// 	opacity: 1;
	// }
}
.wrapper {
	min-height: 100%;
	overflow: clip; /* clip */

	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}

// Компоненти
@import "_components.scss";
// @import "_popups.scss";
@import "_header.scss";
@import "_footer.scss";


/* --------------------- */
[class*="__container"] {
	max-width: toRem(1270);
	padding-inline: toRem(16);
	margin: 0 auto;
	@media (min-width: toEm(376)) {
		padding-inline: toRem(32);
	}
	@media (min-width: toEm(769)) {
		padding-inline: toRem(24);
	}
}
/* --------------------- */
.home-page {

	// .home-page__hero

	&__hero {
	}
}
.hero {

	// .hero__container

	&__container {
		display: flex;
		flex-direction: column;
		gap: toRem(72);
		@include adaptiveValue("padding-block-start", 72, 30);
		@include adaptiveValue("padding-block-end", 110, 57);
		@media (max-width: toEm(963.99)) { 
			gap: toRem(40);
		}
	}

	// .hero__title

	&__title {
		color: var(--blue-color);
		text-align: center;
		@include adaptiveValue("font-size", 68, 46);
		font-size: toRem(68);
		font-weight: 700;
		line-height: 1.1; /* 74.8px */
		text-transform: uppercase;

		// @media (max-width: toEm(768)) { 
		// 	font-size: toRem(56); 
		// }



		span {
			background: linear-gradient(to right, #8636F8, #F020B3, #F8475E, #FF9421);
			-webkit-background-clip: text;
			color: transparent;
		}
	}

	// .hero__text

	&__text {
		display: flex;
		flex-direction: column;
		gap: toRem(20);
		align-items: center;

		@media (max-width: toEm(963.99)) { 
			gap: toRem(16);
		}
		p{
			text-align: center;
			font-size: toRem(16);
			line-height: 1.25; /* 125% */
			max-width: toRem(622);
		}
	}

	// .hero__cards

	&__cards {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: toRem(16);

		@media (max-width: toEm(963.99)) { 
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: toEm(767)) { 
			grid-template-columns:  1fr;
			grid-template-rows: repeat(3, 1fr);
		}
	}

	// .hero__block

	&__block {

	}
}
.cards-hero {

	// .cards-hero__item

	&__item {
		border-radius: toRem(10);
		background: (var(--bg-white-color));
		padding: toRem(32);
		position: relative;
		img {
			position: absolute;
			right: 0;
		}
		h5 {
			font-size: toRem(24);
			font-weight: 500;
			line-height: 1.1; /* 26.4px */
			text-transform: uppercase;
		}

		&:first-child{
			display: flex;
			flex-direction: column;
			gap: toRem(20);
			background-color: var(--blue-color);
			color: var(--bg-white-color);
			padding: toRem(47) toRem(27) toRem(41) toRem(32);
			p{
				line-height: 1.28 /* 128.571% */
			}
		}
		&:nth-child(2){
			padding-top: toRem(46);
			p {
				font-weight: 700;
				font-size: toRem(97);
				background: linear-gradient(to right, #8636F8, #F020B3, #F8475E, #FF9421);
				-webkit-background-clip: text;
				color: transparent;
			}
		}
		&:last-child {
			display: flex;
			flex-direction: column;
			gap: toRem(26);

			@media (max-width: toEm(963.99)) { 
				grid-column: span 2;
			}
			@media (max-width: toEm(767)) { 
				grid-column: span 1;
				
			}
			p {
				line-height: 1.28; /* 128.571% */
			}
			h5{
				font-weight: 700;
				background: linear-gradient(to right, #8636F8, #F020B3, #F8475E, #FF9421);
				-webkit-background-clip: text;
				color: transparent;
			}
		}
	}
	&__img-num  {
		left: 10%;
		bottom: 0;
	}
	&__img-student {
		top: 2%;
	}
}
.text-block {
	font-size: toRem(20);
	font-weight: 500;
	line-height: 1.5; /* 30px */
	text-transform: uppercase;

	@media (max-width: toEm(768)) { 
		@include adaptiveValue("font-size", 20, 18);
	}
}
//===============================================================
.home-page {

	// .home-page__about

	&__about {
	}
}
.about {

	// .about__title

	&__title {
		color: var(--blue-color);
		font-family: Inter;
		font-size: toRem(44);
		font-weight: 700;
		line-height: 1.3; /* 57.2px */
		text-transform: uppercase;
	}

	// .about__cards

	&__cards {
	}
}
.cards-about {
	display: grid;
	grid-template-columns: 0.4fr 0.07fr 0.2fr 0.33fr;
	gap: toRem(16);
	// .cards-about__item

	&__item {
		background-color: var(--bg-white-color);
		border-radius: toRem(10);
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		&::before {
			content: "";
			position: relative;
			inline-size: toRem(38);
			block-size: toRem(38);
			top: 0;
			left: 0;
			background: url(../img/send.svg) 0 0 / 100% no-repeat;
		}
		&--blue {
			background-color: var(--blue-color);

			&::before {
				content: "";
				position: relative;
				inline-size: toRem(38);
				block-size: toRem(38);
				top: 0;
				left: 0;
				background: url(../img/send-white.svg) 0 0 / 100% no-repeat;
			}
		}
		&--icon {
			&::before {
				display: none;
			}
		}

		&:nth-child(2), &:nth-child(4), &:nth-child(6){
			grid-column: 2 span;
		}
		&:nth-child(5){
			grid-column: 2 span;
			grid-row: 2 span;
		}
	}

	// .cards-about__title

	&__title {
		font-size: toRem(24);
		line-height: 1.1; /* 26.4px */
		text-transform: uppercase;

		&--colourful {
			background: linear-gradient(to right, #8636F8, #F020B3, #F8475E, #FF9421);
			-webkit-background-clip: text;
			color: transparent;
		}
		&--white{
			color: var(--bg-white-color);
		}
		&--weight {
			font-weight: 500;
		}
		&--font-size {
			font-size: toRem(32);
		}
	}

	// .cards-about__list
	
	&__list {
		&--weight {
			font-weight: 500;
		}
		&--white{
			color: var(--bg-white-color);
		}
		
		li {
			position: relative;
			padding-left: 20px; 

			line-height: 1.28; /* 128.571% */
			
			&::before {
				content: '•'; 
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				font-size: 1.2em; 
			}
			
		}
		&--line {
			li {
				&::before {
					content: '—'; 
					position: absolute;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
					font-size: 1.2em; 
				}
				
			}
		}
	}
	span {
		background: linear-gradient(to right, #8636F8, #F020B3, #F8475E, #FF9421);
		-webkit-background-clip: text;
		color: transparent;
		line-height: 1.09;
		font-size: toRem(22);
	}
	// .cards-about__category

	&__category {
		
		p{
			display: inline-flex;
			border-radius: toRem(30);
			padding: toRem(9) toRem(17);
			border: toRem(1) dashed var(--main-text-color);


			font-weight: 500;
			line-height: 1.21; /* 121.429% */
			text-transform: uppercase;
		}

		&--white{
			color: var(--bg-white-color);
			p{
				border: toRem(1) dashed var(--bg-white-color);
			}
		}
	}
	&__text {
		color: var(--bg-white-color);
		font-weight: 700;
		line-height: 1.42; /* 142.857% */
		text-transform: uppercase;
		position: relative;
		display: flex;
		align-items: center;

		&::before {
			content: "";
			inline-size: toRem(10);
			block-size: toRem(15);
			background: url(../img/hot-icon.svg) 0 0 / 100% no-repeat;
		}
	}
}

.img-block {
	flex-grow: 1;
	position: relative;
	&::before {
		content: "";
		inline-size: toRem(35);
		block-size: toRem(41);
		background: url(../img/arrow.svg) 0 0 / 100% no-repeat;
	}
	&::after {
		content: "";
		inline-size: toRem(24);
		block-size: toRem(24);
		background: url(../img/smile.svg) 0 0 / 100% no-repeat;
	}
	p{
		color: var(--blue-color);
		font-size: toRem(12);
		font-weight: 600;
		line-height: 1.5; /* 150% */
		text-transform: uppercase;
		transform: rotate(-10deg);
	}
}
.pay-card{
	&__text{
		font-size: toRem(18);
		text-transform: uppercase;
		span {
			font-size: toRem(18);
			background: linear-gradient(to right, #8636F8, #F020B3, #F8475E, #FF9421);
			-webkit-background-clip: text;
			color: transparent;
		}
	}
}